<%- include ("partials/header") %>

<div class="container">

        <!-- Introduction Row -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Welcome - 
                    <small>It's Nice to Meet You!</small>
                </h1>
				<p>
				Yelpcamp is a campground rating app, where users can create their own campgrounds, view and comment on others' campgrounds.<br>
				This is a small project of Colt Steele's Web Developer Bootcamp course in udemy.<br>
				It uses the following technologies : Node.js, Express.js, Passport.js, jQuery and MongoDB<br>
				</p>
	        </div>
        </div>
        
        <!-- Team Members Row -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Our Team</h2>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                
                <h3>Syed Taqi Hussaini<br>
                    <small>HR Consultant</small>
                </h3>
                <p>
                   Is the designer of this website.<br>
                   He likes coding and listening to music.
                </p>
				
            </div>
        </div>
        <hr>
       
        
    </div>

<%- include ("partials/footer") %>