<%- include ("partials/header") %>

<div class="container">

        <!-- Introduction Row -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Tips - 
                    <small>Be prepared and be Safe!</small>
                </h1>
				<div id="tipscontent">
					<h3>
						1. If you’re gonna be moving, pack efficiently.
					</h3>
					<img src="https://d36tnp772eyphs.cloudfront.net/blogs/1/2014/03/082.jpg">
					<hr>
					<h3>
						2. Create a makeshift lantern.
					</h3>
					<img src="https://d36tnp772eyphs.cloudfront.net/blogs/1/2014/03/025.jpg">
					<hr>
					<h3>
						3. Sage is a natural mosquito repellent.
					<img src="https://d36tnp772eyphs.cloudfront.net/blogs/1/2014/03/052.jpg">	
					</h3>
					<br>
					Please click <a href="https://matadornetwork.com/goods/31-crazy-camping-tricks-will-make-life-easier/">Here</a> to see more Tips.
					<p>
						<em>Credit goes to Albie Hartshill, for the tips.</em>
					</p>
					
				</div>
					
				
	        </div>
        </div>
        
       
     
        <hr>
       
        
    </div>

<%- include ("partials/footer") %>